.modal-body {
  padding: 30px 30px 5px 30px;
}

label {
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-text);
}

.modal-footer {
  border: none;
  padding: 1px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
}

.modal-footer button {
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.modal-footer button:first-child {
  background-color: var(--red);
  color: var(--white);
  padding: 5px 30px;
}

.modal-footer button:nth-child(2) {
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  color: var(--secondary-text);
  padding: 5px 20px;
  margin-left: 50px;
}

.modal-footer button:last-child {
  background-color: var(--green);
  color: var(--white);
  padding: 5px 30px;
}

.modal-footer button:first-child:hover {
  background-color: var(--light-red);
  color: var(--black);
}

.modal-footer button:nth-child(2):hover {
  background-color: var(--light-gray);
  color: var(--primary-text);
}

.modal-footer button:last-child:hover {
  background-color: var(--light-green);
  color: var(--black);
}
