.home {
  display: flex;
}

.menu-side-bar {
  position: fixed;
  background-color: var(--white);
  width: 110px;
  height: 100vh;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo-section {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: flex-start;
}

.logo {
  width: 35px;
  margin: 25px auto 0 auto;
}

.chevron-button {
  background: var(--white);
  padding: 0 2px;
  border: 2px solid var(--light-gray);
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: -30px;
  top: 12px;
  transform: translateY(50%);
}

.chevron-button i {
  font-size: 20px;
  font-weight: bolder;
}

.menu {
  text-align: center;
  margin-top: 70px;
  color: var(--primary-text);
  font-weight: 500;
}

.menu p {
  margin-bottom: 10px;
}

.menu-button {
  background: var(--light-white);
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.menu-button img {
  width: 30px;
}

.admin-section {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 15px;
}

.admin-button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.admin-button img {
  width: 30px;
}

.content {
  margin-left: 120px;
  flex-grow: 1;
  padding: 10px 50px 35px 50px;
}

.add-car-button {
  margin: 35px 0;
  padding: 10px 25px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-car-button i {
  font-size: 16px;
  margin-right: 5px;
}

.add-car-button:hover {
  background-color: var(--light-green);
  color: var(--black);
}

.car-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
